*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.center{
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    max-width: 1140px;
}
.top{
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left{
    color: #E8E8E8;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-rigth{
    color: #E8E8E8;
    font-size: 25px;
}
/* .top-img{
    margin-left: 100px;
} */
.head-man{
    margin-left: -100px;
}
.mar{
    margin: 0 30px 0 30px;
}
.head{
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 65px;

}
.head-rigth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.big-text{
    color: #222;
font-family: 'Lato', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-left: 20px;
}
.cen-text{
    color: #222;
font-family: 'Lato', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 20px;
}
.end-text{
    color: #F16D7F;
font-family: 'Lato', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* .menu-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */
/* .menu-bot{
    display: flex;
    justify-content: center;
} */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3); 
    gap: 30px;
}
.menu-bot{
    grid-column: span 3;
    grid-row: span 3;
    display: grid;
}
.menu{
    margin-bottom: 96px;
}
.wonen{
     background:url(img/women.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.70);
  display: flex;
    justify-content: center;
    align-items: center;
}
.men{
    background:url(img/men.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.70);
  height: 260px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.kid{
    background:url(img/kid.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.70);
  display: flex;
    justify-content: center;
    align-items: center;
}
.menu-bot{
    background:url(img/acs.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.70);
  height: 180px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.menu-text{
    color: #FFF;

text-align: center;
font-family: 'Lato', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.menu-text-big{
    color: #F16D7F;
font-family: 'Lato', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.product{
    align-content: center;
    margin-bottom: 48px;
}
.h-top{
    color: #222;

font-family: 'Lato', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.p-top{
    color: #9F9F9F;
font-family: 'Lato', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-bottom: 57px;
}
.korzina{
    color: #FFF;
    position: absolute;
    top: 170px;
    left: 100px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border: #FFF 1px solid;
    padding: 1rem;
    display: none;
    opacity: 80%;   
}
.one{
    background-color: #F8F8F8;
    position: relative;

}
.one:hover .img-menu-small{
    -webkit-filter: brightness(50%);
    transition: 0.3s all;

}
.one:hover .korzina{
    display: block;
    transition: 2s all;
}
.one-text{
    padding: 1em;
}
.text-h{
color: #000;
font-family: 'Lato', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
}
.text-pri{
    color: #5D5D5D;

font-family: 'Lato', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 1em;
margin-top: 1em;
text-align: justify;
}
.pri{
    color: #F16D7F;

font-family: 'Lato', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
}
.foot{
    text-align: center;
    margin-bottom: 48px;
}
.foot-l{
    text-align: center;
    border: #F26376 solid;
    padding: 1em 1em;
    color: #F26376;

font-family: 'Lato', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.foot-l:hover{
    background-color: #F26376;
    color: #FFF;
}

.conditions{
     background: rgb(34, 34, 36);
     padding-top: 100px;
     padding-bottom: 100px;
     display: flex;
     flex-wrap: wrap;
}
.conditions-text-top{
    color: rgb(251, 251, 251);
font-family: 'Lato', sans-serif;
font-size: 19.96px;
font-weight: 400;
line-height: 24px;
margin-top: 60px;
margin-bottom: 50px;
}
.conditions-text{
    color: rgb(251, 251, 251);
    font-family: 'Lato', sans-serif;
font-size: 13.97px;
font-weight: 300;
line-height: 17px;
}
.delivery{
    width: 33%;
    text-align: center;
}
.sub{
    background: url(img/bg-bot.png) no-repeat;
    box-shadow: inset 0 0 0 200vw rgba(255, 255, 255, 0.7);   
    padding-top: 80px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 99%;
  display: flex;
  justify-content: space-between;
}
.sub-left{
    width: 45%;
    text-align: center;
}
.sub-left-foto{
    border-radius: 50%;
    margin-bottom: 25px;
}
.sub-left-text{
    color: rgb(34, 34, 36);
    font-family: 'Lato', sans-serif;
    font-style: italic;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.sub-rigth{
    text-align: center;
    width: 45%;
}
.sub-rigth-h{
    color: rgb(34, 34, 36);
    font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 900;
line-height: 200%;
letter-spacing: 0%;
text-align: center;
}
.sub-rigth-text{
    color: rgb(34, 34, 36);
    font-family: 'Lato', sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 167.2%;
letter-spacing: 0%;
text-align: center;
}
.button{
    background: rgb(241, 109, 127);
    margin: -3px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
padding: 1rem;
border-radius: 15px;
}

.inpt{
    margin-top: 30px;
}


.footer{
    background: rgb(34, 34, 36);
    display: flex;
}
.footer-left{
    color: rgb(251, 251, 251);
    font-family: 'Lato', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 30px;
width: 46%;
}
.footer-rigth{
    text-align: center;
    width: 45%;
}
.footer-img{
    background-color: #FFF;
    padding: 9px;
    margin-top: 24px;
}
@media (min-width:768px) and (max-width:1024px){
    .center{
    max-width: 100vw;
    display: contents;
    justify-content: center;
    }
    .top{
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .top-left{
        text-align: left;
        margin-left: 3%;
        width: 47%;
        font-size: 19px;
    }
    .top-rigth{
        margin-right: 3%;
        text-align: end;
        width: 47%;
        font-size: 19px;
    }
    .head{
        display: flex;
    }
    .head-man{
        width: 47vw;
    }
    .text{
        width: 45vw;
    }
    .menu{
        width: 100vw;
    }
    .wonen{
        width: 30vw;
    }
    .men{
        width: 30vw;
    }
    .kid{
        width: 30vw;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2); 
        gap: 4%;
    }
    .img-menu-small{
        width: 100%;
    }
    .h-top{
        margin-top: 200px;
    }
    .foot{
        margin-top: 200px;
        display: flex;
    }
    .delivery{
        width: 99%;
        text-align: center;}

    .conditions{
        background: rgb(34, 34, 36);
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        
    }

        .conditions-text-top{
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .sub{
      width: 99%;
      display: flex;
      flex-wrap: wrap;
    }
    .sub-rigth{
        text-align: center;
        width: 99%;}
        .sub-left{
            width: 99%;
            text-align: center;}
    .footer{
                background: rgb(34, 34, 36);
                display: flex;
            }
}
@media (min-width:320px) and (max-width:767px){
    .center{
        max-width: 100vw;
        display: contents;
        justify-content: center;
        }
        .top{
            text-align: center;
            display: flex;
            justify-content: space-between;
        }
        .top-left{
            text-align: left;
            margin-left: 3%;
            width: 47%;
            font-size: 19px;
        }
        .top-rigth{
            margin-right: 3%;
            text-align: end;
            width: 47%;
            font-size: 19px;
        }
        .head{
            display: flex;
            height: 300px;
        }
        .head-man{
            width: 0vw;
        }
        .big-text{
            font-size: 35px;
        }
        .end-text{
            font-size: 20px;
        }
        .cen-text{
            font-size: 20px;
        }
        .menu{
            width: 100vw;
        }
        .menu-top{
            display: flex;
            flex-wrap: wrap;
        }
        .wonen{
            width: 97vw;
            height: 260px;
        }
        .men{
            width: 97vw;
        }
        .kid{
            width: 97vw;
            height: 260px;
        }
        .menu-bot{
            width: 97vw;
            grid-column: span 1;
            grid-row: span 1;
            display: grid;
        }
        .grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1); 
            gap: 4%;
        }
        .img-menu-small{
            width: 100%;
        }
        .h-top{
            margin-top: 200px;
        }
        .foot{
            margin-top: 700px;
            display: flex;
        }
        .delivery{
            width: 99%;
            text-align: center;}
    
        .conditions{
            background: rgb(34, 34, 36);
            padding-top: 50px;
            padding-bottom: 50px;
            display: flex;
            flex-wrap: wrap;
            
        }
    
            .conditions-text-top{
            margin-top: 20px;
            margin-bottom: 25px;
        }
}