*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.center{
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    max-width: 1600px;
}
.top{
    background-color: #222;
    padding: 20px 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.top-left{
    color: #E8E8E8;
    font-size: 28px;
}
.top-rigth{
    color: #E8E8E8;
    font-size: 25px;
}
.top-img{
    margin-left: 100px;
}
.head-man{
    margin-left: -100px;
}
.mar{
    margin: 0 30px 0 30px;
}
.head{
    background-color: #F1E4E6;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 65px;

}
.head-rigth{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.big-text{
    color: #222;
font-family: 'Lato', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
margin-left: 20px;
}
.cen-text{
    color: #222;
font-family: 'Lato', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 20px;
}
.end-text{
    color: #F16D7F;
font-family: 'Lato', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* .menu-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */
/* .menu-bot{
    display: flex;
    justify-content: center;
} */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3); 
    gap: 30px;
}
.menu-bot{
    grid-column: span 3;
    grid-row: span 3;
    display: grid;
}
.menu{
    margin-bottom: 96px;
}
.wonen{
     background:url(img/women.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.70);
  display: flex;
    justify-content: center;
    align-items: center;
}
.men{
    background:url(img/men.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.70);
  height: 260px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.kid{
    background:url(img/kid.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.70);
  display: flex;
    justify-content: center;
    align-items: center;
}
.menu-bot{
    background:url(img/acs.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 0;
  box-shadow: inset 0 0 0 200vw rgba(33, 22, 22, 0.70);
  height: 180px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.menu-text{
    color: #FFF;

text-align: center;
font-family: 'Lato', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.menu-text-big{
    color: #F16D7F;
font-family: 'Lato', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.product{
    align-content: center;
    margin-bottom: 48px;
}
.h-top{
    color: #222;

font-family: 'Lato', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}
.p-top{
    color: #9F9F9F;
font-family: 'Lato', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-bottom: 57px;
}
.one{
    background-color: #F8F8F8;
}
.one-text{
    padding: 1em;
}
.text-h{
color: #000;
font-family: 'Lato', sans-serif;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
}
.text-pri{
    color: #5D5D5D;

font-family: 'Lato', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 1em;
margin-top: 1em;
text-align: justify;
}
.pri{
    color: #F16D7F;

font-family: 'Lato', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
}
.foot{
    text-align: center;
    margin-bottom: 48px;
}
.foot-l{
    text-align: center;
    border: #F26376 solid;
    padding: 1em 1em;
    color: #F26376;

font-family: 'Lato', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}